body .ui-inputfield {
    padding: 4px;
    margin-top: 3px;
    height: 27px;
    width: 100%;
}

.customCellStyle {
    background-color: yellow;
}

.g {
    background-color: #BDF8AE;
    color: black;
    border-color: black !important;
}

.y {
    background-color: #FFFDB8;
    color: black;
    border-color: black !important;
}

.r {
    background-color: #ffc7ce;
    color: black;
    border-color: black !important;
}

.ui-selectlistbox-list {
    line-height: 10px;
}

.ui-selectlistbox-listcontainer {
    padding: 0 !important;
}

.ui-inputfield.ui-state-focus {
    border-color: rgba(235,237,239,.6);
}

.customSave:hover {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.archiveTableDialog {
    height: 400px;
    width: 400px;
}

.ui-datatable-footer {
    padding: 0 !important;
}

body .ui-datatable thead th {
    color: #333;
    background: #f4f4f4;
    border: 1px solid black;
    font-size: 0.875rem !important;
    padding: 0;
}

.tableFont {
    font-size: 0.875rem !important;
}

body .ui-widget {
    color: #333;
}

body .ui-paginator .ui-paginator-current {
    color: #333;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: #333;
}

body .ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight, body .ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight {
    color: #333;
}